/* Estructura general */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: Arial, sans-serif;
  background-color: #ffffff; /* fondo general */
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.site-main {
  flex: 1; /* ocupa todo el espacio disponible */
  padding: 0px;
  width: 100%;
  margin: 0 auto;     /* centra horizontalmente */
}

.site-main h1,h2,h3,p {
  max-width: 1155px;  /* limita el ancho máximo */
  margin: 20px auto;  /* margen arriba y abajo de 20px, centrado horizontalmente */
  text-align: justify; /*  si quieres justifcar el texto */
}

.site-main p {
  color: #333;
  line-height: 1.6;
}

