.aboutus {
  padding: 3rem 2rem;
  min-height: 100vh;
  background-image: 
    linear-gradient(
      to bottom,
      rgba(45, 115, 180, 0.3),
      rgba(63, 154, 207, 0.5),
      rgba(19, 91, 133, 0.7)
    ),
    url("../../assets/fondo.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: aliceblue;
}


.aboutus h1 {
  text-align: center;
  margin-bottom: 1.5rem;
}

.aboutus p {
  max-width: 800px;
  margin: 0 auto 1rem auto;
  text-align: justify;
}

.aboutus h1,
.aboutus h2,
.aboutus h3 {
  color: aliceblue; /* aplica color claro a todos los títulos */
}

.aboutus button {
  display: block;
  margin: 1.5rem auto;
  padding: 0.8rem 1.5rem;
  border: none;
  border-radius: 5px;
  background-color: #0d5fa6;
  color: white;
  cursor: pointer;
  transition: 0.3s ease;
}

.aboutus button:hover {
  background-color: #094a7d;
}

.aboutus-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2rem;
  margin-top: 2rem;
}

.aboutus-card {
  background: rgba(255, 255, 255, 0.9);
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  text-align: center;
}

.aboutus-card h3 {
  margin-bottom: 0.8rem;
  color: #102183;
}
